.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.menu-button {
    display: block;
    min-width: 7rem;
    color: white;
    cursor: pointer;
    float: left;
}

.account-button {
    display: block;
    min-width: 7rem;
    color: red;
    cursor: pointer;
    float: right;
}

#puzzle-content {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
    outline-style: solid;
    outline-color: black;
    outline-width: 0.1rem;
    background-color: blueviolet;
}

#answer-box {
    margin: auto;
    width: 75%;
}

header {
    background-color: red;
    padding: 20px;    
    min-height: 28px;
}

div {
    display: block;
}

body {
    margin: 0;
}

h1 {
    text-align: center
}