<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <style>     
      h1{
      color: black;
      font-family: 'Montserrat';
    }

    #puzzleText{
        color: black;
      font-family: 'Montserrat';
      line-height: 50x;
      text-align: center;
    }
    </style>
  </head>
</html>



<h1> Towers of Hanoi 2 </h1>

<p id="puzzleText"> 
This puzzle follows on from Puzzle 1 - Towers of Hanoi. </br>
This time there are four pegs, A, B, C and D. <br>
There are <b>6 blue disks</b> on peg A and <b>6 red disks</b> on peg C.</br>
You must move all the blue disks to peg C and all the red disks to peg A.</br><br>

<b>1. Only the top disk on a rod may be moved at a time.  </br></br>
2. Larger disks may not be placed on top of smaller disks <br>
(however, disks of the same size may be placed on top of each other).</br></br></br></b>

Your task is to design an algorithm that solves this puzzle in the minimum number of steps. </br> </br>
The algorithm must output a list of moves - for example the list [('A', 'B'), ('B', 'C')] </br>
describes moving the top disk of A to B, and then moving the top disk of B to C.</br></br>
</p>
