<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <style>     
      h1{
      color: black;
      font-family: 'Montserrat';
    }

    #puzzleText{
        color: black;
      font-family: 'Montserrat';
      line-height: 50x;
      text-align: center;
    }
    </style>
  </head>
</html>



<h1> Losing Arrangements </h1>

<p id="puzzleText"> 
Alice and Bob play a game using black and white pieces. </br>
The pieces are arranged into n vertical stacks of size 3.</br></br>

On Alice's turn, she picks any black piece and removes it, along with any pieces on top.  </br>
On Bob's turn, he does the same with white pieces.<br>If any player is unable to move, they lose.</br></br>

A given arrangement of pieces is a losing arrangement if both players will lose even if they play optimally. </br>
The number of losing arrangements of size 6 is 7880. </br>
Find the number of losing arrangements of size <b>1234</b>, and give the last 9 digits of your answer.</br></br>
</p>
