<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <style>     
      h1{
      color: black;
      font-family: 'Montserrat';
    }

    #puzzleText{
        color: black;
      font-family: 'Montserrat';
      line-height: 50x;
      text-align: center;
    }
    </style>
  </head>
</html>



<h1> The Sieve of Eratosthenes </h1>

<p id="puzzleText"> 
  The sieve of Eratosthenes is an algorithm for finding prime numbers.</br>
  A prime number is a number that only has 1 and itself as divisors.</br>

  The sieve works by finding primes, and then crossing off all multiples of that prime.
</br> <br> 

Using this method we can efficiently find primes up to a given limit.<br>
However, while this method suffices for small values, we can actually do better for large values.
</br>


Research a more efficient algorithm for solving this problem, and use it to find the sum of all primes under 10987654321. </br><br>
</p>
