{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- {% load static %}
<link rel="stylesheet" href="{% static 'puzzles/style.css' %}"> -->

    <div id="app">
        <div>
            <h1>
                Puzzle {{ puzzle_id }}
            </h1>
        </div>
        <div id="puzzle-content">
            {% include puzzle_path %}
        </div>
        <div id="answer-box">
            <form action="{% url 'puzzles:answer' puzzle_id %}" method="post">
                {% csrf_token %}
                <!-- <input type="text" name="answer"/> -->
                <textarea name="answer"></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

{% endblock %}