{% extends "base.html" %}

{% block title %}Rankings{% endblock %}

{% block content %}
{% if perms.auth %}
    <p>You have permission to do something in the accounts app.</p>
    {% if perms.auth.is_employer %}
        <p>You are an employer! </br> Here are the rankings: </br></p>
        <table>
        {% for obj in object_list %}
        <tr>
            <td>{{obj.user__username}} </td>
            <td>{{obj.puzzles_finished}}</td>
            <!--{% for fld, val in obj.get_fields_and_values %}
            <td>{{ fld.name }} : {{ val }}</td>
            {% endfor %}
            -->
        </tr>
        {% endfor %}
        </table>
    {% endif %}
{% else %}
    <p>You don't have permission to do anything in the accounts app.</p>
{% endif %}
{% endblock %}